<!-- Loading -->
<div *ngIf="loading" class="mt-[150px] mb-[150px] mx-auto loader">
  <p>Loading...</p>
</div>

<!-- Display the search term if there are results -->
<div *ngIf="isSearchMode && searchTerm && searchResults.length > 0" class="mt-[20px] ml-[20px]">
  <p class="text-xl font-medium">Showing results for "{{ searchTerm }}"</p>
</div>

<!-- Product Cards -->
<div *ngIf="!loading" class="p-8 mb-[80px]">
  <!-- Show product cards only if search results exist -->
  <div *ngIf="searchResults.length > 0; else noResults" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <app-product-card *ngFor="let product of searchResults" [product]="product"
     (addToWishlist)="onAddToWishlist($event)"
    (removeFromWishlist)="onRemoveFromWishlist($event)"></app-product-card>
  </div>
</div>

<!-- No results message -->
<ng-template #noResults>
  <div class="mx-auto flex justify-center items-center flex-col">
    <img src="assets/images/product-not-found.gif" class="w-[330px] h-[330x]" />
    <p class="font-medium text-2xl text-gray-800">Sorry! No products found!</p>
    <p class="font-normal text-md text-gray-80 font-sans">Please check the spelling or try searching for something else</p>
  </div>
  <br><br>
</ng-template>
