<div class="border rounded-lg shadow-xl p-4 relative group cursor-pointer flex flex-col gap-2"
     [routerLink]="['/product-details', product.productId]">
  <img
    [src]="product.imageUrl"
    [alt]="product.name"
    class="w-full h-48 object-contain mb-4 rounded-md"
    onerror="this.src='assets/placeholder.png'"/>

  <p class="text-base font-medium text-gray-400">{{ product.brandName }}</p>
  <p class="text-xl font-medium text-gray-600">{{ product.name }}</p>
  <p class="text-gray-600 ">{{ product.description | slice:0:100 }}...</p>
  <p class="font-medium">₹ {{ product.price.toFixed(2) }}</p>
  <span class="text-red-600 bg-red-100 px-2 py-1 rounded-md font-medium text-sm w-fit">Hot Deal</span>
  <p class=" font-normal text-sm text-gray-700">Free Delivery</p>

  <button
    (click)="toggleWishlist($event)"
    class="absolute top-4 right-4 p-2 transition-colors duration-300"
    [class.text-red-500]="isWishlisted"
    [class.text-gray-400]="!isWishlisted">
    <ng-icon [name]="isWishlisted ? 'heroHeartSolid' : 'heroHeart'" class="text-2xl"></ng-icon>
  </button>
</div>
