<!-- 404 Error Section -->
<div class="container mx-auto py-20">

  <div class="container mx-auto mt-0 px-4">
    <div class="text-black-600 text-sm mb-8 text-left">
      <a href="/" class="hover:underline font-semibold">Home</a> / <span class="text-black-500 font-bold">404 Error</span>
    </div>
  </div>

  <!-- Centered Error Content -->
  <div class="text-center">
    <!-- Error Message -->
    <h1 class="text-6xl font-bold text-black-1000">404 Not Found</h1>

    <!-- Space between 404 and the description -->
    <p class="mt-20 text-lg text-black-600 font-medium">Your visited page not found. You may go back to the home page.</p>

     <!-- Space between description and button -->
  <a href="/" class="mt-20 inline-block px-8 py-4 bg-red-500 text-white text-lg rounded-lg hover:bg-red-500 transition">
    Back to Home Page
  </a>
</div>
