<div class="w-full max-w-4xl">

<div class="mb-2">

  <p class="text-2xl font-medium text-gray-800 mb-4">Saved UPI IDs</p>
  <div *ngIf="upiList.length === 0" class="text-gray-800 text-sm">
    <p>No saved UPI IDs. You can save your UPI ID after making a payment.</p>
  </div>
  <ul *ngIf="upiList.length > 0" class="mt-4 space-y-2">
    <li *ngFor="let upi of upiList" class="flex justify-between p-3 bg-gray-100 rounded">
      <span>{{ upi.provider }} - {{ upi.id }}</span>
      <button (click)="deleteUpi(upi.id)" class="text-red-500 text-sm">Delete</button>
    </li>
  </ul>
</div>

<br>
<br>


  <p class="text-xl font-medium text-gray-800">FAQs</p>

  <!-- UPI FAQ 1 -->
  <div class="mb-2 text-sm pt-2">
    <p class="text-sm font-medium text-gray-700 mb-2">
      What is UPI and how does it work?
    </p>
    <p class="text-gray-600">
      UPI (Unified Payments Interface) is a real-time payment system that allows you to instantly transfer money between two bank accounts using a mobile phone. It works by linking your bank account to your UPI ID.
    </p>
  </div>

  <!-- UPI FAQ 2 -->
  <div class="mb-4 text-sm pt-4">
    <p class="text-sm font-medium text-gray-700 mb-2">
      Is it safe to save my UPI ID for future transactions?
    </p>
    <p class="text-gray-600">
      Yes, saving your UPI ID is secure. We use encryption to protect your UPI information, ensuring it is safely stored for faster future payments.
    </p>
  </div>

  <!-- UPI FAQ 3 -->
  <div class="mb-4 text-sm pt-4">
    <p class="text-sm font-medium text-gray-700 mb-2">
      Can I update or remove my saved UPI ID later?
    </p>
    <p class="text-gray-600">
      Yes, you can update or remove your saved UPI ID in the payment settings. Simply access the saved UPI section and make the necessary changes.
    </p>
  </div>

  <!-- UPI FAQ 4 -->
  <div class="mb-4 text-sm pt-4">
    <p class="text-sm font-medium text-gray-700 mb-2">
      What happens if I don't save my UPI ID during a transaction?
    </p>
    <p class="text-gray-600">
      If you don't save your UPI ID during a transaction, you'll need to manually enter it each time you make a payment. You can choose to save it during any future payment process.
    </p>
  </div>

  <div class="text-red-500 text-md font-medium cursor-pointer">
    View all FAQS >
  </div>

</div>
