<div class="wishlist-page py-8">
  <h2 class="text-center text-3xl font-bold text-black mb-8">My Wishlist</h2>
  
  <div *ngIf="wishlistItems.length > 0; else noItems">
    <div class="wishlist-item bg-red-100 border border-red-300 rounded-lg p-6 w-64 text-center shadow-lg mb-4" *ngFor="let item of wishlistItems">
      <img [src]="'./assets/images/' + item.name + '.jpeg'" alt="{{item.name}}" class="w-full h-48 object-contain mb-4" />
      <h3 class="text-xl font-semibold text-black mb-2">{{item.name}}</h3>
      <p class="text-lg text-gray-700 mb-4">Price: {{item.price | currency}}</p>
      <button (click)="removeFromWishlist(item)" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-black transition duration-300">Remove from Wishlist</button>
    </div>
  </div>

  <ng-template #noItems>
    <p class="text-center">Your wishlist is empty.</p>
  </ng-template>
</div>
