<div class="h-full w-64 bg-gray-100 text-gray-800">
  <!-- User Sidebar -->
  @if (userRole == "USER") {
    <div class="w-64 bg-gray-100 h-screen p-4">
      <!-- My Orders -->
      <p class="text-gray-800 mb-2">My Orders</p>

      <!-- Account Settings -->
      <p class="text-gray-600 mb-1">Account Settings</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'profile'}">Profile Information</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'address'}">Manage Address</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'payments'}">Payments</li>
        <ul class="pl-4">
          <li class="text-gray-600 mb-1" [ngClass]="{'text-red-500': currentPage === 'savedUpi'}">Saved UPI</li>
          <li class="text-gray-600 mb-1" [ngClass]="{'text-red-500': currentPage === 'savedCards'}">Saved Cards</li>
        </ul>
      </ul>

      <!-- My Stuff -->
      <p class="text-gray-800 mb-2">My Stuff</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'reviews'}">My Reviews and Ratings</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'wishlist'}">Wishlist</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'notifications'}">All Notifications</li>
      </ul>

      <!-- Logout -->
      <p class="text-gray-800 mb-2" [ngClass]="{'text-red-500': currentPage === 'logout'}">Logout</p>
    </div>
  }
  <!-- Seller Sidebar -->
  @else if(userRole == "SELLER") {
    <div class="w-64 bg-gray-100 h-screen p-4">
      <!-- Dashboard -->
      <p class="text-gray-800 mb-2" [ngClass]="{'text-red-500': currentPage === 'dashboard'}">Dashboard</p>

      <!-- Products -->
      <p class="text-gray-600 mb-1">Products</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'addProduct'}">Add Product</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'manageProducts'}">Manage Products</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'stockManagement'}">Stock Management</li>
      </ul>

      <!-- Orders -->
      <p class="text-gray-800 mb-2">Orders</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'viewOrders'}">View Orders</li>
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'returns'}">Manage Returns</li>
      </ul>

      <!-- Reports -->
      <p class="text-gray-800 mb-2">Reports</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'salesReports'}">Sales Reports</li>
      </ul>

      <!-- Profile -->
      <p class="text-gray-600 mb-1">Profile</p>
      <ul class="pl-4">
        <li class="text-gray-700 mb-1" [ngClass]="{'text-red-500': currentPage === 'sellerProfile'}">Seller Profile</li>
      </ul>

      <!-- Logout -->
      <p class="text-gray-800 mb-2" [ngClass]="{'text-red-500': currentPage === 'logout'}">Logout</p>
    </div>

  }
</div>
