<div class="category-page py-8">
    <h2 class="text-center text-3xl font-bold text-black mb-8">Random Category Products</h2>
    
    <div class="product-list flex flex-wrap justify-center gap-6">
      <div class="product-card bg-red-100 border border-red-300 rounded-lg p-6 w-64 text-center shadow-lg hover:shadow-2xl transform hover:-translate-y-2 transition duration-300" *ngFor="let product of products">
        <img [src]="'./assets/images/' + product.name + '.jpeg'" alt="{{product.name}}" class="product-image w-full h-48 object-contain mb-4" />
        <h3 class="text-xl font-semibold text-black mb-2">{{product.name}}</h3>
        <p class="text-lg text-gray-700 mb-4">Price: {{product.price | currency}}</p>
        <button (click)="addToCart(product)" class="btn-add-to-cart bg-red-500 text-white py-2 px-4 rounded hover:bg-black transition duration-300">Add to Cart</button>
      </div>
    </div>
  </div>
  <app-cart></app-cart>
  