<div class="max-w-md mx-auto p-8 border border-gray-300 rounded-lg bg-gray-50 shadow-md mt-[100px] mb-[100px]">
  <p class="text-4xl font-medium text-gray-800 text-center mb-4">Forgot Password</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
      <input
        type="email"
        id="email"
        class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
        formControlName="email"
        placeholder="Enter your email"
        [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched }"
      />
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="invalid-feedback text-red-600 text-sm mt-1">
        Please enter your email.
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-full py-2 px-4 bg-red-500 text-white rounded-md " [disabled]="forgotPasswordForm.invalid">
      Send Reset Link
    </button>
  </form>

  <!-- Loading state -->
  <div *ngIf="loading" class="mt-6 loader mx-auto">
    <p class="text-gray-500">Loading...</p>
  </div>
</div>
